4.6 Merging Instacart Data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

Importing Data

In [2]:
#Set OS Path
path = r'/Users/faridchehraz/Desktop/Python/Master - Dec2021 Instacart Basket Analysis'

In [20]:
#Import original order_products__prior csv file
df_ords_prior = pd.read_csv(os.path.join(path, '2. Data', 'a. Original Data', 'order_products__prior.csv'), index_col = False)

In [29]:
#Create list of columns to import from orders csv file
vars_list = ['order_id','user_id','order_number','orders_day_of_week','order_hour_of_day','days_since_prior_order']

In [45]:
#Import prepared orders csv file
df_ords = pd.read_csv(os.path.join(path, '2. Data', 'b. Prepared Data', 'orders_wrangled.csv'), index_col = False, usecols = vars_list)

In [46]:
#Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [47]:
#Check the output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [48]:
#Check orders prior DF dimensions
df_ords_prior.shape

(32434489, 4)

In [49]:
#Check orders DF dimensions
df_ords.shape

(3421083, 6)

In [60]:
#Merge orders_prior and orders DFs
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [51]:
#Check merge output
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [54]:
#Count merged DF match types
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [56]:
#Export df_merged_large as pkl file
df_merged_large.to_pickle(os.path.join(path, '2. Data', 'b. Prepared Data', 'orders_products_combined.pkl'))

In [61]:
#Check df_merged_large dimensions
df_merged_large.shape

(32434489, 10)