4.6 Merging Instacart Data Task

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Set OS Path
path = r'/Users/faridchehraz/Desktop/Python/Master - Dec2021 Instacart Basket Analysis'

In [14]:
#Import orders_products_combined pkl filea
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '2. Data', 'b. Prepared Data', 'orders_products_combined.pkl'))

In [33]:
#Check imported DF dimensions
df_ords_prods_comb.shape

(32434489, 10)

In [34]:
#Check imported DF sample
df_ords_prods_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [35]:
#Create list of columns to import from products_checked csv file
vars_list = ['product_id','product_name','aisle_id','department_id','prices']

In [36]:
#Import products_checked csv file
df_prods = pd.read_csv(os.path.join(path, '2. Data', 'b. Prepared Data', 'products_checked.csv'), index_col = False, usecols = vars_list)

In [37]:
#Check imported products_checked DF dimensions
df_prods.shape

(49672, 5)

In [38]:
#Check imported products_checked DF sample
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [46]:
#Merge odrs_prods_comb and products_checked DFs
df_ords_detail = df_ords_prods_comb.merge(df_prods, on = ['product_id'], how = 'left', indicator = 'Check')

In [49]:
#Check merged dataframes dimensions
df_ords_detail.shape

(32435059, 15)

In [50]:
#Check merged dataframes output sample
df_ords_detail.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Check
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [55]:
#Count merged DF match types
df_ords_detail['Check'].value_counts()

both          32404859
left_only        30200
right_only           0
Name: Check, dtype: int64

In [57]:
#Export merged DF as orders_products_merged.pkl
df_ords_detail.to_pickle(os.path.join(path, '2. Data', 'b. Prepared Data', 'orders_products_merged.pkl'))